body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 20px;
    color: rgb(71, 83, 95);
}

.header-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

header {
    background: rgb(2, 2, 49);
    color: skyblue;
    min-height: 70px;
    border-bottom: rgb(2, 2, 49) 3px solid;
    padding: 20px 0;
}

header h1 {
    background-color: skyblue;
    color: rgb(2, 2, 49);
    padding: 10px 20px;
    margin: 0;
}

header a {
    color: skyblue;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .section {
    position: relative;
    padding-right: 32px;
}

.sidebar .about::after,
.sidebar .work::after,
.sidebar .contact::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: black;
}

.content {
    width: 70%;
}

.section {
    padding: 20px;
    background-color: white;
}

.about, .work, .contact {
    text-align: left;
    color: rgb(71, 83, 95);
    font-size: 30px;
}

.about,
.work,
.contact {
    width: 20%;
    position: relative;
}

.about::after,
.work::after,
.contact::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: rgb(2, 2, 49);
    margin: 0;
}

.content p {
    color: rgb(71, 83, 95);
}

.link-list, .projects {
    color: rgb(2, 2, 49);
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list li a {
    text-decoration: underline;
    color: rgb(71, 83, 95);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.link-list li a:hover {
    color: skyblue;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 4px solid skyblue;
    padding: 20px;
    background-color: white;
}

.project:nth-child(1) {
    flex-basis: 87.5%;
}

.project:nth-child(2),
.project:nth-child(3) {
    width: 40%;
}

.project:nth-child(4),
.project:nth-child(5) {
    width: 40%;
}

.project-details {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    width: 60%;
    margin-left: -3%;
}

.project-details h3, 
.project-details p {
    margin: 0;
    padding: 10px;
    border: 2px solid skyblue;
    box-sizing: border-box;
    background-color: skyblue;
}

.project:nth-child(2) .project-details,
.project:nth-child(3) .project-details,
.project:nth-child(4) .project-details,
.project:nth-child(5) .project-details {
    margin-left: -6%;
}

.project-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}
